# node modules
node_modules

#logfiles
*.log

#bundle.js
public/dist/bundle.js

#config
coverage/clover.xml
coverage/lcov-report/index.html
coverage
**/db/config.js
node_modules
**/db/seed/*.json
**/db/seed/*.csv

coverage/**